<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://www.divecosys.org/var/divecosys/storage/images/divecosys/formation/theses/senegal-ucad/31913-7-fre-FR/senegal-ucad.jpg" alt="get back up!" height="48"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0" style="--bs-scroll-height: 100px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            Formations
          </a>
          <ul class="dropdown-menu dropdown-menu-dark menu" aria-labelledby="navbarScrollingDropdown1">
            <li><a class="dropdown-item" href="#rex">Mathématiques</a></li>
            <li><a class="dropdown-item" href="#rex">Modélisation et calcul scientifique</a></li>
            <li><a class="dropdown-item" href="#rex">Informatique</a></li>
            <li><a class="dropdown-item" href="#rex">Télécommunications</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            Laboratoires
          </a>
          <ul class="dropdown-menu dropdown-menu-dark menu" aria-labelledby="navbarScrollingDropdown2">
            <li><a class="dropdown-item" href="#rex">LACGAA</a></li>
            <li><a class="dropdown-item" href="#it">LGA</a></li>
            <li><a class="dropdown-item" href="#it">LMA</a></li>
            <li><a class="dropdown-item" href="#it">Informatique</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            Facultés
          </a>
          <ul class="dropdown-menu dropdown-menu-dark menu" aria-labelledby="navbarScrollingDropdown3">
            <li><a class="dropdown-item" href="#it">FST</a></li>
            <li><a class="dropdown-item" href="#it">FSEG</a></li>
            <li><a class="dropdown-item" href="#it">FMPO</a></li>
            <li><a class="dropdown-item" href="#it">ESP</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="inscription">S'inscrire</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="login">Se connecter</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
