.navbar {
  background-color: dodgerblue;
}

.dropdown-menu{
  max-width: fit-content;
}

.dropdown-menu {
  overflow: hidden;
  transition: all 2s ease;
}

.dropdown-menu.folded {
  max-height: 0;
}

.dropdown-menu.unfolded {
  max-height: 500px;
}


.col{
  max-width: 30%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flex {
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
