.bv {
  background-color: #eee
}

.nav-link:hover {
  background-color: #525252 !important
}

.nav-link .fa {
  transition: all 1s
}

.nav-link:hover .fa {
  transform: rotate(360deg)
}

a:hover{
  text-decoration: none;
}

a{
  font-size: 1.3em;
}

.empty{
  vertical-align: middle;
  text-align: center;
  color: green;
}

.delete-btn{
  background-color: orange;
  padding: 0 5px 0 5px;
  margin-left: 95%;
  transition: ease-in, .75s;
}

.delete-btn:hover{
  background-color: red;
}

.book{
  transition: ease-in, .4s;
}

.book:hover{
  background-color: #39c0ed;
}

.deconnexion{
  background: orange;
  color: white;
}

.btn-danger{
  margin: 2% 2% 2% 33%;
}

h2{
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  margin-bottom: 2%;
}

.row{
  margin-top: 5%;
  margin-bottom: 2%;
}
