<div class="bd">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 250px;"> <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"> <svg class="bi me-2" width="40" height="32"> </svg> <span class="fs-4">BBBootstrap</span> </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item"> <a href="#" class="nav-link" aria-current="page"> <i class="fa fa-home"></i><span class="ms-2">Home</span> </a> </li>
      <li class="nab=v-link" (click)="viewDemandes()"> <a class="nav-link text-white"> <i class="fa fa-dashboard"></i><span class="ms-2" >Demandes en attentes</span> </a> </li>
      <li> <a href="#" class="nav-link text-white"> <i class="fa fa-cog"></i><span class="ms-2">Paramètres</span> </a> </li>
      <hr class="dropdown-divider">
      <li class="nav-item"><a routerLink="/login" class="nav-link"><button class="btn btn-danger">Déconnexion</button></a> </li>
    </ul>
    <hr>
    <div class="dropdown"> <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"> <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"> <strong> Secrétaire EDMI </strong> </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">New project</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="contenu">
  <h3 class="empty" *ngIf="this.demandesEnAttente.length == 0">Aucune donnée chargée...</h3>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <button class="list-group-item book"
              *ngFor="let elt of this.demandesEnAttente; let i = index"
              (click)="onViewDoctorant(i)">
        <h3 class="list-group-item-heading" [ngClass]="{'red': elt.etape < elt.precedenteEtape}">
          {{ elt.nom }} {{elt.prenom}}
          <button class="btn btn-default pull-right btn-lg delete-btn">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </h3>
        <p class="list-group-item-text">{{ elt.email }}</p>
      </button>
    </div>
  </div>
</div>

