.container {
  margin-top: 10%;
}

.card{
  margin: 5%;
  padding: 5%;
}

#card1, #card4{
  width: 100%;
  margin-left: 50%;
}

button{
  text-align: center;
  display: block;
  width: 60%;
  margin: 5% auto 2%;
}

.card-title{
  font-style: italic;
  font-weight: bold;
  margin-bottom: 3%;
}

.btn-primary{
  text-align: center;
  display: block;
  width: 40%;
  margin: 5% auto 2%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  transition: all 1s;
}

.card:hover{
  background-color: dodgerblue;
}
