@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
@import url(//fonts.googleapis.com/icon?family=Material+Icons);

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #181a1b !important;
  scroll-behavior: smooth;
}
