<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://www.divecosys.org/var/divecosys/storage/images/divecosys/formation/theses/senegal-ucad/31913-7-fre-FR/senegal-ucad.jpg" alt="get back up!" height="48"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0" style="--bs-scroll-height: 100px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            Formations
          </a>
          <ul class="dropdown-menu dropdown-menu-dark menu" aria-labelledby="navbarScrollingDropdown1">
            <li><a class="dropdown-item" href="#rex">Mathématiques</a></li>
            <li><a class="dropdown-item" href="#rex">Modélisation et calcul scientifique</a></li>
            <li><a class="dropdown-item" href="#rex">Informatique</a></li>
            <li><a class="dropdown-item" href="#rex">Télécommunications</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            Laboratoires
          </a>
          <ul class="dropdown-menu dropdown-menu-dark menu" aria-labelledby="navbarScrollingDropdown2">
            <li><a class="dropdown-item" href="#rex">LACGAA</a></li>
            <li><a class="dropdown-item" href="#it">LGA</a></li>
            <li><a class="dropdown-item" href="#it">LMA</a></li>
            <li><a class="dropdown-item" href="#it">Informatique</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            Facultés
          </a>
          <ul class="dropdown-menu dropdown-menu-dark menu" aria-labelledby="navbarScrollingDropdown3">
            <li><a class="dropdown-item" href="#it">FST</a></li>
            <li><a class="dropdown-item" href="#it">FSEG</a></li>
            <li><a class="dropdown-item" href="#it">FMPO</a></li>
            <li><a class="dropdown-item" href="#it">ESP</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">S'inscrire</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="login">Se connecter</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.senenews.com/wp-content/uploads/2021/03/ucad-1.jpg" class="d-block w-100 h-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="http://edmi.ucad.sn/templates/siteground-j15-14/images/logoAnim.gif" class="d-block w-100 h-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.flagsonline.it/uploads/2016-6-6/1200-0/senegal.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div id="presentation">
  <h1>Présentation Générale</h1>
  <p>L’école doctorale de Mathématiques et Informatique de l’Université Cheikh Anta Diop de Dakar a pour but de coordonner et d’organiser
    toutes les études doctorales en Mathématiques et Informatique à l’UCAD, aussi bien la formation à la recherche que la production
    scientifique en Mathématique, en Informatique ainsi que dans les domaines qui leur sont connexes. Il existe cinq (5) formations
    doctorales rattachées au département de mathématiques-informatique. Son siège est au
    département de Mathématiques et Informatique de la Faculté des Sciences et Techniques.</p>
</div>

<div id="candidature">
  <h1>Candidature</h1>
  <p>La première étape du rocessus de candidature est la recherche d'un directeur de thèse.
    Contrairement aux cycles L et M, le cycle D requiert d'avoir l'accord d'un enseignannt chercheur de rang A pour diriger les recherches.
  Cette démarche est une initiative personnelle de l'étudiant titulaire d'un Master.
  La seconde étape est de déposer auprès du secrétariat de l'ED, un dossier d'admission enthèse comportant un projet de recherche et la fiche signée
  seulement par le directeur de thèse. Le dossier doit aussi comporter la charte signée par le directeur.</p>
</div>

<div id="actualite">
  <h1>Actualités</h1>
  <div class="card" style="width: 18rem;">
    <img src="https://tse3.mm.bing.net/th?id=OIP.Gon95hS6O8dRb2I9c7FsEwHaEK&pid=Api" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">L’information qui circule dans certains médias et qui fait état de 17 morts causés par le Covid-19 à l’UCAD n’est pas avérée.
        C’est la direction universitaire qui, dans un tweet, fait un démenti. « L’université tient à démentir formellement de telles allégations », lit-on dans le tweet.</p>
    </div>
  </div>
</div>
